body{
    background: red;
}
#main_menu{
	background-color: #000;
	margin: 0 auto;
	padding-top: 5px;
	width: 570px;
}
#main_menu .button_slider1{
	margin-left: 20px;
}
#main_menu .button_slider6{
	margin-right: 20px;
}
#main_menu [class^=button_slider]:hover  img{
	box-shadow: 0 0 0 1px #0f0;
}
#main_menu input{            /*Ховаємо всі наші інпути*/
	display: none;
}
#main_menu input:checked + label img{
	box-shadow: 0 0 0 2px #fff;
}
#main_menu label img{
	margin: 5px 5px;
	-webkit-transition: -webkit-trasform 0.5s ease;
	-o-transition: -o-trasform 1s ease;
	transition: transform 1s linear;        /*задаємо відстежувати параметр transform затримка перед виконанням 1с, виконання плавно*/
}
#main_menu label img:hover{
	-webkit-transform: rotateY(30deg);
	-o-transform: rotateY(30deg);
	transform: rotateY(30deg);        /*Задаємо трансформацію при наведенні по осі У на 180*/
}
#separator{
	height: 10px;
	background-color: white;
}
/*Задаємо background для основного вікна, використовуємо картинку, яка через label зв'язана з першим input*/
.slider{  
	background: url(i/1big.jpg) no-repeat white;
	height: 417px;
	margin: 0px auto;

}
        /*Змінюємо основний background в залежності від відміченого інпута*/
#slider2:checked  ~ .slider {
	background-image: url(i/2big.jpg);
}
#slider3:checked  ~ .slider {
	background-image: url(i/3big.jpg);
}
#slider4:checked  ~ .slider {
	background-image: url(i/4big.jpg);
}
#slider5:checked  ~ .slider {
	background-image: url(i/5big.jpg);
}
#slider6:checked  ~ .slider {
	background-image: url(i/6big.jpg);
}
